extends ../layouts/application.pug

block header
  = t('views.users.edit')

block content
  +formFor()(action=`/users/${user.id}` method="post")
    +input(editUser, 'firstName', t('views.users.firstName'), errors)(type="text")(value=user.firstName)
    +input(editUser, 'lastName', t('views.users.lastName'), errors)(type="text")(value=user.lastName)
    +input(editUser, 'email', t('views.users.email'), errors)(type="text")(value=user.email)
    +input({}, 'password', t('views.users.password'), errors)(type="password")
    +input(name="_method" type="hidden" value="PATCH")
    +submit()(value=t('views.users.edit'))