extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.fullname')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th= t('views.users.actions')
    tbody
      each user in users
        tr
          td= user.id
          td= `${user.firstname} ${user.lastname}`
          td= user.email
          td= formatDate(user.createdAt)
          td
            .d-flex.gap-1
              a.btn.btn-primary(href=`/users/${user.id}/edit`)= t('views.users.edit')
              +buttonTo(`/users/${user.id}`, 'delete')(class="btn btn-danger" value=t('views.users.delete'))
