extends ../layouts/application.pug

block header
  .d-flex.flex-column
    = t('layouts.application.statuses')
    div
      a.btn.btn-primary(href=route('newStatus'))= t('views.statuses.new.createStatus')

block content

  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.statuses.createdAt')
        th= t('views.statuses.actions')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            .d-flex.gap-1
              a.btn.btn-primary(href=`/statuses/${status.id}/edit`)= t('views.statuses.edit')
              +buttonTo(`statuses/${status.id}`, 'delete')(class="btn btn-danger" value=t('views.statuses.delete'))
