extends ../layouts/application.pug

block content
  .card
    .card-header.bg-secondary.text-white
      h2= task.name
    .card-body.bg-light
      p= task.description
      hr
      .container
        .row.p-1
          .col= t('views.tasks.creator')
          .col= task.creator
        .row.p-1
          .col= t('views.tasks.executor')
          .col= task.executor
        .row.p-1
          .col= t('views.tasks.status')
          .col= task.status
        .row.p-1
          .col= t('views.tasks.createdAt')
          .col= task.createdAt
        //- .row.p-1
        //-   .col
        //-     h6= t('views.tasks.view.labels')
        //-     ul
        //-       each label in task.labels
        //-         li= label
        .row.p-1
          .d-flex.gap-1
              a.btn.btn-primary(href=`/tasks/${task.id}/edit`)= t('views.users.edit')
              +buttonTo(`/tasks/${task.id}`, 'delete')(class="btn btn-danger" value=t('views.users.delete'))